<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="board">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.78977556057262 0.160294928583308 -3.28769227069136E-19"
        rpy="0 0 0" />
      <mass
        value="453.28074013745" />
      <inertia
        ixx="84.7173179966925"
        ixy="-5.37393016799413E-13"
        ixz="-1.15673388673378E-15"
        iyy="3864.81638411719"
        iyz="-1.03734924718804E-16"
        izz="3949.46571000286" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://board/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://board/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>